{% extends 'base.html.twig' %}

{% block title %}Ajout animal{% endblock %}

{% block body %}
   <h1>Ajout categorie</h1>
   
   Le produit {{ categorie.Name }} a été enregistré avec succés...!
{% endblock %}
